@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

p,
h1,
h4,
h5,
h6 {
    padding: 0px;
    margin: 0px;
}

h4 {
    font-weight: 400;
    font-size: 25px;
    line-height: 38px;
    color: #E48C21;
}

h4 span {
    border-bottom: 2px solid #E48C21;
}

h5,
h6 {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #343F59;
}

p {
    font-size: 15px;
    line-height: 25px;
    color: #333333;
}

h6 {
    color: #fff;
}

/* Header Start */
.container {
    max-width: 1140px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

header .row {
    justify-content: space-between;
    align-items: center;
}

header {
    position: absolute;
    background-color: #000000;
    left: 0px;
    right: 0px;
    padding: 0 15px;
    z-index: 11;
}

header.fixed {
    background-color: #000000;
    position: fixed;
    animation: fixHeader .5s ease;
    z-index: 11;
}

@keyframes fixHeader {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(-0%);
    }
}

header .brand-name a {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    position: relative;
}

header .brand-name a::before {
    content: '';
    height: 3px;
    background-color: #1B1E21;
    width: 0;
    position: absolute;
    left: 0;
    bottom: 0;
}

header .navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

header .navbar ul li {
    display: inline-block;
    margin-left: 30px;
}

header .navbar ul li a {
    font-size: 15px;
    text-decoration: none;
    line-height: 52px;
    display: block;
    color: #fff;
    font-weight: 400;
    position: relative;
}

header .navbar ul li a.active {
    color: #E48C21;
}

header .navbar ul li a::before {
    content: '';
    /* height: 3px;
    width: 0;
    position: absolute;
    right: 0; */
    transition: all .5s ease;
}

header .navbar ul li a:hover::before {
    width: 100%;
    left: 0;
}

header .navbar ul li a.active::before {
    width: 100%;
    left: 0;
}

/* Header End */

/* Home Start */
.home {
    background-color: #1B1E21;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('../Images/cont-img.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 15px;
}

.home .full-screen {
    min-height: 100vh;
}

#base,
#base1 {
    color: #fff;
}

/* Home End */

.ham-burger .fa {
    font-size: 20px;
    display: inline-block;
    height: 30px;
    width: 35px;
    background-color: #fff;
    /* color: #fff; */
    border-radius: 3px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    display: none;
    border: 1px solid #eeeeee;
}

.news-letter {
    min-height: 268px;
    background-color: #1B1E21;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('../Images/cont-sub-img.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.news-letter h5 {
    /* font-size: 18px; */
    color: #fff;
}

.news-letter p {
    font-size: 15px;
    color: #fff;
}

label {
    color: #fff;
    background-color: #343F59;
    padding: 4px 10px;
}
.progress {
    background-color: #F2F5FA !important;
    border-radius: 15px;
}
.progress-bar {
    background-color:  #343F59 !important;
    border-radius: 15px;
}

.history h6 {
    font-size: 15px;
    color: #343F59;
}
.history p {
    font-size: 13px;
}
.history {
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/* Footer */
.footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer ul li a {
    font-size: 15px;
    text-decoration: none;
    line-height: 40px;
    display: block;
    color: #fff;
    font-weight: 400;
    position: relative;
    opacity: .6;
}

@media(max-width: 767px) {
    header {
        padding: 15px;
        position: fixed;
        background-color: #000000;
        border: none;
    }

    .ham-burger .fa {
        display: inline-block;
    }

    .navbar {
        position: absolute;
        background-color: #000000;
        width: 100%;
        left: 0px;
        top: 60px;
        padding: 15px;
        border-top: 1px solid #eeeeee;
        display: none;
    }

    .navbar.show {
        display: block;
    }

    header .navbar ul li {
        display: block;
        margin-left: 0;
    }

    header .navbar ul li a::before {
        background-color: #eeeeee;
    }
}